/* boilerplate start */

html {
    box-sizing: border-box;
    overflow: hidden;
} *, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --coral: #fabbab;
    --white: #F2F5FF;
    --blue: rgb(71, 121, 152);
    --light-blue: rgba(71, 121, 152, 0.6);
    --yellow: rgb(250, 243, 162);
    --black: rgb(49, 48, 46);
}

body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: "Archivo", sans-serif;
    display: flex;
    justify-content: stretch;
    height: 100vh;
    background-color: var(--white);
} h1, h2, h3, p {
    margin: 0;
    line-height: 1.3;
} a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
} a:hover {
    text-decoration: underline;
} ul, ol {
    list-style: none;
}

/* boilerplate end */

img {
    position: absolute;
    height: 100vh;
}

.side {
    height: 100vh;
    width: 56.3vh;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    color: white;
    background-color: rgb(255 162 162 / 44%);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}

h1 {
    line-height: normal;
}

.backdrop {
    width: 100%;
    height: max(20vh, 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(2 212 200 / 60%);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-200px);
    flex: 0 0 auto;
}

#logo {
    position: static;
    width: 78px;
    height: 200px;
    object-fit: cover;
}


main {
    flex: 5 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(175 97 70 / 12%);
}
.ribbon {
    background-image: linear-gradient(26deg, #5bb7b3, #59b8b482);
    padding: 5vh 5vw;
    color: white;
    /* transform: translateY(-200px); */
    height: max(20vh, 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.ribbon .heavy {
    font-weight: 800;
    font-size: 1.3rem;
}

form {
    /* background-color: white; */
    margin: 3vh 3vw;
    padding: 2vh 2vw;
    border-radius: 8px;
    box-shadow: 0px 6px 10px 10px rgba(49, 48, 46, 0.05);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

section {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
    row-gap: 10px;
    font-size: 0.8rem;
}

form input {
    background-color: white;
    border: none;
    min-height: 30px;
    border-radius: 2px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}