/* boilerplate start */

html {
    box-sizing: border-box;
    overflow: hidden;
} *, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --coral: #fabbab;
    --white: #F2F5FF;
    --blue: rgb(71, 121, 152);
    --light-blue: rgba(71, 121, 152, 0.6);
    --yellow: rgb(250, 243, 162);
    --black: rgb(49, 48, 46);
}

body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: "Archivo", sans-serif;
    display: flex;
    justify-content: stretch;
    height: 100vh;
    background-color: var(--white);
} h1, h2, h3, p {
    margin: 0;
} a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
} a:hover {
    text-decoration: underline;
} ul, ol {
    list-style: none;
}

/* boilerplate end */

img {
    position: absolute;
    height: 100vh;
}

.side {
    height: 100vh;
    width: 56.3vh;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    color: white;
    background-color: rgb(255 162 162 / 44%);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}

.backdrop {
    width: 100%;
    height: max(20vh, 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(2 212 200 / 60%);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-200px);
    flex: 0 0 auto;
}

#logo {
    position: static;
    width: 78px;
    height: 200px;
    object-fit: cover;
}


main {
    flex: 5 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(175 97 70 / 12%);
}
.ribbon {
    background-image: linear-gradient(26deg, #5bb7b3, #59b8b482);
    padding: 5vh 5vw;
    color: white;
    transform: translateY(-200px);
    height: max(20vh, 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.ribbon:hover {
    background-image: linear-gradient(26deg, #b75b5b, #b8595982);
}
.ribbon .heavy {
    font-weight: 800;
    font-size: 1.3rem;
}