/* boilerplate start */

html {
    box-sizing: border-box;
    overflow: hidden;
} *, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --coral: #fabbab;
    --white: #F2F5FF;
    --blue: rgb(71, 121, 152);
    --light-blue: rgba(71, 121, 152, 0.6);
    --yellow: rgb(250, 243, 162);
    --black: rgb(49, 48, 46);
}

body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: "Archivo", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100vh;
    background-color: var(--white);
} h1, h2, h3, p {
    margin: 0;
} a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
} a:hover {
    text-decoration: underline;
} ul, ol {
    list-style: none;
}

/* boilerplate end */